
<link rel="stylesheet" href="/css/home.css">

<div id="home-container">

        <!-- the purpose to use checkAuthentication is that if the user is signed in then only he/she will be allowed to do post --> 
  
   
</div>
<script src="/js/home_posts.js"></script>
